

  :root {
    --primary: #800020;
    --secondary: #2b3452;
  }
  body {
    margin: 0;
    padding: 20px;
    font-family: "Poppins";
    background: var(--secondary);
  }
  
  
  /* navbar */
  header nav{
    display:flex;
    gap:10px;
    justify-content: end;
    max-width:1200px;
    margin: 0 auto;
  }
  
  header nav h1{
    margin-right:auto;
    border-bottom:3px solid #0000FF
  }
  
  header nav a{
    text-decoration: none;
    color:#fff;
    font-size: 25px;
    font-weight: 700;
    padding:6px;
    border-radius:4px;
  }
  
  header nav a.active{
    background: #0000FF;
  }
  
  /* page content */
  main{
    max-width:1200px;
    margin:40px auto;
  };