/* LoginStyle.css */
.root{
  --fadeBlue : #2b3452;
}

.signup {
  color: white;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.heading{
  color: #2b3452;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}



.email {
  background-color: #0000FF;
  color:white;
  font-size: 25px;
  font-weight: 700;
  
}


.inputicons{
  background-color: #0000FF;
  border-radius: 8px;
}
.icons{
  color:#2b3452;
}

